<style>
		body{
			font-size: 18px;
		}
		fieldset{
			background-color: lightyellow;
			border: 10px solid yellow;
			padding: 10px;
			margin-bottom:10px;
			width: 720px;
		}
		label{
			display: inline-flex;
			flex-direction:row;
			justify-content:flex-end;
			width: 180px;
		}
		label:hover,input:hover,select:hover,textarea:hover{
			font-size:25px;
		}
		button{
			font-size: 1em;
			height: 40px;
			width: 100px;
		}
		textarea{
			height: 50px;
			width: 360px;
		}
		.cls-red{
			background-color: red;
			display: inline-flex;
			flex-direction row;
			justify-content:center;
			color: white;
			width: 70px
		}
		.cls-purple{
			background-color: purple;
			display: inline-flex;
			flex-direction row;
			justify-content:center;
			color: white;
			width: 70px
		}
	</style>